<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <form class="form-horizontal" ng-submit="submit()">
    <fieldset>

      <!-- Form Name -->
      <legend>Saída de Mercadoria</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="quantity">Quantidade</label>
        <div class="col-md-4">
          <input id="quantity" ng-model="quantity" name="quantity" type="text" placeholder="Quantidade" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary">Salvar</button>
          <button id="cancel" name="cancel" class="btn btn-primary" ui-sref="outgoing">Cancelar</button>
        </div>
      </div>

    </fieldset>
  </form>

</div>
